<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="info" *ngIf="isOpen">
    <div class="info-content">
        <mat-toolbar>
        <h2>About</h2>
        </mat-toolbar>
        <div>
        <p>This application is a standalone chat application with generative A.I (LLM) 
            using Ollama (running LLM locally). The app takes user input message and 
            generates the response text from A.I. accordingly. All conversations will be
            displayed chronologically in the view. This app is developed with Angular 
            Framework and Angular Material, version 18.</p>
        </div>
        <div>
            <a href="mailto:barnessp@sheridancollege.ca"><mat-icon>email</mat-icon>Spencer Barnes</a>
        </div>
           <div class="close"> <button  (click)="close()">CLOSE</button></div>
    </div>
</div>