body {
    text-align: center;
    margin:20px;
    background-color:#b90b0c;
    font-family:'Lucida Sans';            
}
header {
    color:#eee;
    margin-bottom:30px
}
header img, footer img {
    margin:20px 0px 10px 0px;
    width:60%;
    min-width:400px;
    max-width:600px;
}
footer img {
    margin-top:40px
}
form {
    font-size:24px;
    background-color:rgb(255, 114, 114);
    display:inline-block;
    width:300px;  
    padding:20px 30px;
    border:thick solid #ddd;
    border-radius:30px;
}
input {
    font-size:24px
}
input[type=submit] {
    padding:20px 40px;
    background-color: rgb(207, 0, 0);
    color:white;
    cursor:pointer;
    border-radius:10px;
    border:none;
}
input[type=submit]:hover {
    background-color: red;
}