<h1 class="flexbox1">Inch to CM Converter</h1>

<div class="flexbox1">
    <p class="flexitem">Inch:</p><input type="text" class="flexitem" [(ngModel)]="inch" (ngModelChange)="convertInchToCm()">
   <p class="flexitem"> = </p> 
    <p class="flexitem"> CM:</p><input type="text" class="flexitem" [(ngModel)]="cm" (ngModelChange)="convertCmToInch()">
</div>

<fieldset class="flexbox2">
    <legend class="flexitem" >Options</legend>
    <h3>
        Use Fractions:<input type="checkbox" [(ngModel)]="fractionUsed" (ngModelChange)="convertCmToInch()">
    </h3>  
    <h3>
        Base:
        <select id="baseOptions" [(ngModel)]="selectedBase" (ngModelChange)="convertCmToInch()">
            <option value="4">4</option>
            <option value="8">8</option>
            <option value="16">16</option>
            <option value="32">32</option>
            <option value="64">64</option>
        </select>
    </h3>
    <h3>
        Simplify:<input type="checkbox" [(ngModel)]="simplify" (ngModelChange)="convertCmToInch()">
    </h3>
</fieldset>
    <div class="flexbox2">
        Conversion Steps:<br>
        {{ conversionSteps }}
    </div>
<br><br>

<div class="flexbox2">
    Fraction to Decimal Chart
    <table>
        <app-table [list]="tablerows"></app-table>
    </table>
</div>