<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Chinese Zodiac Animal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ASCII.css">
</head>

<body>
    <header>
        <img src="assets/scrabble.png" alt="Scrabble Logo">
        <h1>Scrabble Letters to Words Generator</h1>
        <h2>Error Must Only Enter Numbers!</h2>
    </header>

    <form action="getletters" method="get">
        <p>
            <label for="letter">Enter Scrabble Letters:
                <input type="text" max="4000" placeholder="Enter Letters" name="letter" id="letter">
            </label>
            
        </p>
        
        
        <p><input type="submit" value="Get Words"></p>
    </form>
</body>

</html>
