<mat-toolbar color="primary">
  <span>World Nations</span>
</mat-toolbar>
<mat-radio-group [(ngModel)]="selectedContinent" aria-label="Select Continent">
  <mat-radio-button *ngFor="let continent of ['All','Africa', 'Asia', 'Europe', 'Oceania', 'Americas','Antarctica']" [value]="continent">
    {{ continent }}
  </mat-radio-button>
</mat-radio-group>

<div class="card-container">
  <mat-card *ngFor="let country of filterCountriesByContinent(selectedContinent)" class="country-card" (click)="openDialog(country)">
    <mat-card-header>
      <img mat-card-image [src]="getFlagImage(country)">
    </mat-card-header>
    <mat-card-content> 
      <mat-card-title>{{ country.Name }}</mat-card-title>
      </mat-card-content>
  </mat-card>
</div>