mat-toolbar {
  display: flex;
  justify-content: space-between;

}


body .chat-container {
    display: flex;
    background-color: rgb(81, 85, 91);  /* Dark background */
    color: white;  /* Light text */
    flex-direction: column;
    height:100vh;
    border: none;
  }
  body.light-mode .chat-container {
    background-color: whitesmoke;
    color:black;
}
  
  .messages-container {
    display: flex;
    flex-direction: column; 
    flex-grow: 1; 
    overflow-y: auto; 
    padding: 10px;
    scroll-behavior: smooth; 
    scrollbar-width: none;
  }
  .messages-container::-webkit-scrollbar {
    display: none;
  }

  .input-container {
    display: flex; 
    background-color:rgb(96, 101, 108);
   
    justify-content: space-between; 
    padding: 10px;
  }
  .clear {
    color:#fff;
    background-color:#333;
    }
 
  .input-container input {
    flex-grow: 1;
    padding: 10px;

    color: white;
    background-color:rgb(96, 101, 108);
    margin-right: 10px; 
  }
  
  .footer {
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
    
  }
  