<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Results for Chinese Zodiac Animal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="zodiac.css">
</head>

<body>
    <header>
        <img src="assets/zodiac.jpg" alt="Chinese Zodiac Animals">
        <br><br><br>
        <h1><%= year %> is the year of the <%= animal %></h1>
    </header>   

    <footer>
        <img src="assets/zodiac.jpg" alt="Chinese Zodiac Animals">
    </footer>

</body>

</html>