<h1>Students</h1>
<p>
Order By: &nbsp;
<mat-radio-group [(ngModel)]="orderBy" (change)="handleOrderBy()">
 <mat-radio-button value="FirstName">First Name</mat-radio-button>
  &nbsp;
  <mat-radio-button value="LastName">Last Name</mat-radio-button>
</mat-radio-group>
</p>

<mat-table [dataSource]="dataSource">
  <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
  <mat-row *matRowDef="let row;columns:headers"></mat-row>

  <ng-container matColumnDef="FirstName">
    <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
    <mat-cell *matCellDef="let s">{{s.FirstName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="LastName">
    <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
    <mat-cell *matCellDef="let s">{{s.LastName}}</mat-cell>
  </ng-container>

</mat-table>