body {
    display: flex;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    
    justify-content: space-around;
    align-items: center;

    height: 100vh;
    margin: 0;
    padding: 0;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    display: flex;
    width: 33.33vw;
    height: 100%;
   
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    text-align: center;
    font-size: 30px;
    position: relative;
    z-index: 1;
    transition: width 0.5s;
}

#gallery_1{
    background-image: url('/images/monsters.png');
    
}

#gallery_2{
    background-image: url('/images/bunnies.png');
}

#gallery_3 {
    background-image: url('/images/weiner.png');
    background-position: right;
    
}

section:hover {
    width: 80vw;
}
.button{
    color: rgb(49, 59, 56);
    background-color: #f2f2f2;
    padding:10px;
    border-radius: 10px;
    text-decoration: none;
   
}
a{
    text-decoration: none;
    color:rgb(92, 91, 91);
}
a:hover{
    color:rgb(53, 52, 52);
}
