.messagewrap{
    display:flex;
}
.message{
    max-width: 80%;
    flex: 0 1 auto;
}
.row2{
    display:flex;
}
.text{
    padding:10px;
    border-radius: 10px;
    white-space:pre-wrap;
}
img {
    width: 3vw;
    height: 3vw;
    object-fit: contain; 
    max-width: 100%; 
    max-height: 100%;
  }