
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
<div class="chat-container">


  <mat-toolbar color="primary">
    <button mat-button class="clear" (click)="toggleTheme()">	<mat-icon>brightness_medium</mat-icon></button>
    <span>Professor Oak Helpline</span>
    <button mat-button class="clear" (click)="info.open()"><mat-icon>info</mat-icon></button>
  </mat-toolbar>





  <div class="messages-container">
    @for(message of messages; track $index)
    {
      <app-message [message]="message"></app-message>
    }
  </div>
  <div class="input-container">
    <input matInput [(ngModel)]="prompt" type="text" placeholder="Type your message..." (keydown.enter)="sendMessage()"/>
    <button mat-fab class="clear" (click)="sendMessage()">
      <mat-icon>send</mat-icon>  
    </button>
    
  </div>

  <footer class="footer">
    <p>Powered By Ollama, © 2024 Spencer Barnes</p>
  </footer>

</div>
</body>
<app-info #info></app-info>

