/* Any h1 inside the header, and h2 inside nav, etc. */
body {
  margin: 0;
}

header h1,
nav h2,
footer h3 {
  display: none;
}

header {
  background-color: rgb(5, 17, 92);
  padding: 20px;
}

article {
  padding: 20px;
  background-color: rgb(47, 116, 169);
}

footer {
  padding: 20px;
  background-color: rgba(93, 6, 117, 0.563);
}

nav {
  padding: 5px 20px;
  background-color: grey;
  /* color: white;  A tag does not inherit the font colour of parents */
}
nav a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
nav a:hover {
  color: rgb(160, 10, 133);
}
time {
  font-style: italic;
  color: darkmagenta;
}
figure {
  margin-left: 0px;
  text-align: center;
  margin: 20px 0px;
  padding: 20px;
  background-color: rgb(129, 15, 158);
}
