<!DOCTYPE html>
<!--  ill explain basic html in this slide -->
<!--  declaring namespace with thymeleaf and its security package -->
<html xmlns:th="www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
</head>
<body>
	<div class="container">
		<h1>Employee Management</h1>
<!--  links to pages formated with css -->
		<div class="links"> 
		<a th:href="@{/user}">User</a> 
		<a th:href="@{/admin}">Admin</a>
	</div>
	<div class="links">

		<a th:href="@{/login}">Login</a> <a th:href="@{/register}">Create
			an Account</a>
	</div>
<!--  footer section with logo and name -->
	<footer>
		<div class="footer-content">
			<img src="../static/images/spring-boot-logo.png"
				th:src="@{/images/spring-boot-logo.png}" alt="Logo"
				class="footer-logo" />
			<p>&copy;Spencer Barnes 2024 Employee Management System</p>
		</div>
	</footer>
	</div>
</body>
</html>