<!DOCTYPE html>
<!--  declaring namespace -->
<html xmlns:th ="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Phone List</title>
<!--  importing css -->
<link rel="stylesheet" type="text/css" th:href="@{styles.css}">
</head>
<body>
<!--  making flex outer container -->
 <div class="content-container">
 <!--  inner flex group -->
 	<div class="form-group">
 	<h2>Phone List</h2>
 	<!--  table to display phones -->
		<table class="phone-table">
			<tr>
			<!--  headings -->
				<th>Brand</th>
				<th>Model</th>
				<th>Category</th>
				<th>Price</th>
				<th>Features</th>
			</tr>
			<!--  looping through each phone in phoneList and displaying the attributes in the table-->
			<tr th:each="aPhone:${phoneList}">
				<td th:text="${aPhone.brand}">Samsung</td>
				<td th:text="${aPhone.modelName}">Galaxy S8</td>
				<td th:text="${aPhone.category}">Mid-range</td>
				<td th:text="${aPhone.price}">$1000</td>
				<td th:text="${aPhone.features}">5MaH Battery, OLED Screen</td>
			</tr>
		</table>
	</div>
	<div class="form-group">
	 <!-- link to home -->
		<a th:href="@{/}">Go Home</a>
	</div>
</div>
</body>
</html>