<!DOCTYPE html>
<!--  declaring namespace -->
<html xmlns:th ="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Phone Search</title>
<!--  importing css -->
<link rel="stylesheet" type="text/css" th:href="@{styles.css}">
</head>
<body>
 <div class="content-container">
<div class="form-group">
 <div class="form-group">
 <!-- posting to @postmapping("/searchphones") and using the object phone -->
 <form method="post" th:action="@{/searchPhones}" th:object="${phone}">
    <label>Phone Search</label><br>
    <select th:field="*{category}">
    <!--  using the drop down with the options from categories and the added None value to search for phones -->
        <option th:each="c : *{categories}" th:value="${c}" th:text="${c}"></option>
        <option th:value="None" th:text="None"></option>
    </select>
    <input type="submit" value="Search">
</form>
        </div>
	
<!--  same phone table from list phones -->
	<table class="phone-table">
			<tr>
				<th>Brand</th>
				<th>Model</th>
				<th>Category</th>
				<th>Price</th>
				<th>Features</th>
			</tr>
			<tr th:each="aPhone:${phoneList}">
				<td th:text="${aPhone.brand}">Samsung</td>
				<td th:text="${aPhone.modelName}">Galaxy S8</td>
				<td th:text="${aPhone.category}">Mid-range</td>
				<td th:text="${aPhone.price}">$1000</td>
				<td th:text="${aPhone.features}">5MaH Battery, OLED Screen</td>
			</tr>
		</table>
</div>
<div class="form-group">
 <!-- link to home -->
	<a th:href="@{/}">Go Home</a>
</div>
</div>
</body>
</html>